/* body要素へ背景色の設定。#f7fbff （薄い水色）*/
body {background-color: #f7fbff;}

/* 大見出し(h1)へに対して、
文字色 #ffffff　（白）の設定。
背景色 #73badc (水色)の設定。 */
h1{
  color: #ffffff;
  background-color: #73badc;
}

/* id名が"favorite"の要素に対して文字色 #1b942f (緑) を設定 */
#favorite{
  color: #1b942f;
}

/* class名が"special"の要素に対して文字色 #c72626 （赤）を設定 */
.special{
color: #c72626;
}

/* id名が"sns"の要素に対して、枠線を設定。
線の色は、#73badc (水色) 、
線の太さは、5px、
線の種類は、solidを設定。
 */
 #sns{
   border: #73badc 5px solid;
 }
